body {
  background-color: #4c4c4c;
  margin: 0;
  padding: 0;
}

.navbar-brand {
  font-family: "Sansita Swashed", cursive;
  font-size: 28px;
  font-weight: 600;
  color: #4c4c4c;
}

.nav-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding-left: 40rem;
}

.section {
  height: 100vh;
}

.section h2 {
  padding-top: 35px;
  font-family: "Oswald", sans-serif;
}

#about {
  background-color: #4c4c4c;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (max-width: 425px) {
  #about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

#about .bio {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5%;
}
#about .profpic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

#about .bio .big {
  font-family: "Montserrat", sans-serif;
  font-size: x-large;
  font-weight: 400;
  color: #ffffff;
}

#about .bio .medium {
  font-size: 20px;
  font-weight: 100;
  color: #dbdbdb;
  letter-spacing: 1px;
}

#about img {
  height: auto;
  width: 50%;
  border-radius: 50%;
}

#skill {
  background-color: white;
  height: 85vh;
  text-align: center;
  padding-top: 30px;
}

#skill .desc {
  position: relative;
  border: 1px black solid;
  width: 100%;
  margin: auto;
  margin-top: 5%;
}

#skill .desc p {
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: "Roboto", sans-serif;
  font-size: 120%;
  font-weight: 400;
  font-style: italic;
}

@media (max-width: 375px) {
  #skill .desc p {
    font-size: 90%;
  }
}

#skill .skill-img {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 425px) {
  #skill {
    height: fit-content;
  }
  #skill .skill-img {
    flex-direction: column;
    align-items: center;
  }
  #skill .skill-img img {
    margin-top: 5%;
  }
}

#skill .skill-img img {
  height: 72px;
  width: 72px;
  margin-left: 5%;
  margin-right: 5%;
}

#experience {
  background-color: lightskyblue;
  height: 100vh;
  text-align: center;
}

#experience .exp-container .exp {
  font-family: "Montserrat", sans-serif;
  color: #636363;
  padding: 20px;
}

#experience .exp-container .exp .pos {
  font-size: larger;
  font-weight: 500;
}

#experience .exp-container .exp .comp {
  font-size: large;
  font-weight: 400;
}

@media (max-width: 425px) {
  #experience {
    height: fit-content;
  }
}

#gallery {
  background-color: white;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
}

@media (max-width: 425px) {
  #gallery {
    height: fit-content;
  }
  #gallery .container {
    flex-direction: column;
  }
  #gallery .container .img-container p {
    font-size: 5%;
  }
  #gallery .container .img-container {
    width: 50%;
  }
  #gallery .container .img-container #ref {
    width: 50%;
  }
}

#gallery .container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-right: 11%;
  margin-top: 5%;
}

#gallery .container .img-container {
  margin-left: 5%;
  margin-right: 5%;
}

#gallery .container .img-container p {
  font-family: "Montserrat", sans-serif;
  font-size: large;
  font-weight: 500;
  padding-top: 10px;
}

#gallery .container .img-container img {
  height: auto;
  width: 100%;
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
}

#gallery .container .img-container #ref {
  width: 138%;
}

#contact {
  background-color: lightskyblue;
  height: 52vh;
  text-align: center;
}

#contact hr {
  border: 1px solid black;
  width: 50%;
  margin-top: 60px;
}

#contact .contact-links {
  margin-top: 20px;
  margin-bottom: 20px;
}

#contact .contact-links a img {
  height: 35px;
  width: 35px;
  margin: 1rem;
  margin-top: 20px;
}

#fullpage nav navbar-brand {
  font-family: "Oswald", sans-serif;
}

.contact-title {
  margin-top: 15%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  transition: all 4s ease-in-out;
}

@media (max-width: 425px) {
  .contact-title {
    margin-left: 40%;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 375px) {
  .contact-title {
    margin-left: 55%;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 320px) {
  .contact-title {
    margin-left: 70%;
    display: flex;
    flex-direction: column;
  }
}

.contact-title h1 {
  font-size: 120%;
  line-height: 10px;
}
.contact-title h3 {
  font-size: 90%;
}

form {
  margin-top: 50px;
  transition: all 4s ease-in-out;
}
.form-control {
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid gainsboro;
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 16px;
}

input {
  height: 45px;
}

form .submit {
  background: lightskyblue;
  color: #636363;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  border-color: transparent;
  font-size: 20px;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
}

form .submit:hover {
  background-color: lightgreen;
  cursor: pointer;
}
